name = "tripstack-api"
main = "worker.js"
compatibility_date = "2025-01-15"

[[durable_objects.bindings]]
name = "CHAT_DO"
class_name = "ChatRoom"

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]

[[d1_databases]]
binding = "DB"
database_name = "tripstack_db"
database_id = "bec46d77-3379-4c3c-b3fa-5c229ac83e35"
migrations_dir = "../packages/db/migrations"

[[kv_namespaces]]
binding = "TRIPSTACK_KV"
id = "${CF_KV_NAMESPACE}"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "tripstack-assets"

[vars]
JWT_ISS = "${JWT_ISS}"
JWT_AUD = "${JWT_AUD}"
